en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
mac-vendor-lookup==0.1.12
netifaces==0.11.0
python-nmap==0.7.1
requests==2.31.0
spacy==3.7.6
flask==2.3.2